/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES */


.calc-wrap{
  border: 1px solid #2436FF;
  width: 21.31rem;
  height: 30.25rem;
  margin: 2rem auto;
  border-radius: 1rem 1rem 4rem 4rem;
  border-top-right-radius: 40% 2rem;
  border-top-left-radius: 40% 2rem;
  position: relative;
}
.calc-wrap:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: .4;
  /* background: url(src/bg.jpg) center; */
  background-size: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.calc-content{
  position: relative;
  padding: .5rem 1.1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.display{
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 100%;
  height: 5rem;
  /* border: 1px solid #6C79FF; */
  background: #CACACA;
  border-radius: 5px;
  padding: .5rem;
  color: #292929;
  font-size: 4.5rem;
  text-align: right;
}
.info{
  margin-top: 1.5rem;
  /* border: 1px solid #50E9FF; */
  width: 100%;
  padding: 0 .5rem;
}
.info:after{
  clear: both;
  content: '';
}
.info-name{
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: .5rem;
}
.info-disc{
  font-size: .5rem;
  text-transform: capitalize;
  padding-top: 2px;
}
.info-state{
  width: 5.5rem;
  height: 1.7rem;
  border: 1px solid #1E8857;
  float: right;
}
button{
  border: none;
  outline: none;
}
.main-btn{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-evenly; */
  /* border: 1px solid #3F881E; */
}
.other-btn{
  /* border: 1px solid #9CDF7F; */
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 4.5rem;
}
.other{
  width: 2.8rem;
  height: 6.5rem;
  background: #FFAFAF50;
  border-radius: 2rem;
  margin-bottom:.8rem;
}
.numbers-btn{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex-basis: 90%;
  /* flex-grow: 1; */
  /* border: 1px solid #0C10FF; */
}
.num{
  /* width: 3.6rem; */
  width: calc(33.33% - .6rem);
  height: 2.8rem;
  background: #4F4F4F60;
  margin: 0 .6rem .8rem 0;
}
.signs-btn{
  /* border: 1px solid #FF6C6C; */
  display: flex;
  flex-flow: column nowrap;
  /* flex-basis: 6rem */
}
.sign{
  width: 2.8rem;
  height: 2.9rem;
  background: #FFAFAF50;
  border-radius: 2rem;
  margin-bottom: .7rem;
}
.equal{
  width: 10.5rem;
  height: 2.6rem;
  border-radius: 2rem;
  background: #6399FF89;
}